header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

  .title-custom{
      font-size: 300%;
  }

  label{
    font-size: 120%;
    color: #000;
  }

  .custom-card-one-third{
    padding: 5%;
    text-align: center;
    color: #000;
  }
  .custom-card-one-third:hover{
    
    color: #fff;
    background-color: red;
  }

  .materialize-textarea{
    min-height: 90px !important;
  }

  .page-content{
    padding-bottom: 5%;
  }

.description{
  margin-bottom: 5% !important;
}